extends layout

block content
  h1= title
  p Welcome! 
  if isLoggedIn
    p= currentUser.name
    a(href='/logout') Log Out
    
    hr
    p You member status: #{currentUser.member_status}
    if !isMember && !isAdmin
      p Join the club to see who created the messages 
        a(href='/joinclub') Join Club

    hr
    p Leave a message 
      a(href='/newmessage') New Message
  else
    a(href='/login') Log In
    |  to create new messages
  
  if message_list
    ul
      each message in message_list
        li
          h3= message.title
          p= message.message
          if isMember
            p Created by #{message.author.name} on #{message.timestamp_formatted}
          else if isAdmin
            p Created by #{message.author.name} on #{message.timestamp_formatted}
            form(method='POST' action='deletemessage')
              input#messageid.form-control(type='hidden' name='messageid' required value=message._id)
              button.btn(type='submit') Delete Message
          else 
            p Created by our anonymous member

