extends layout

block content
  h1= title
  p Welcome! 
  if isLoggedIn
    p= currentUser.name
    a(href='/logout') Log Out
    p You member status: #{currentUser.member_status}
    p Leave a message 
      a(href='/newmessage') New Message
  else
    a(href='/login') Log In
    |  to create new messages
  
  if message_list
    ul
      each message in message_list
        li
          h3= message.title
          p= message.message
          p Created by #{isMember ? message.author.name : ' our anonymous member'}

